.underConstrution2 {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
:where(.underConstrution2 > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 414px) {
  :where(.underConstrution2 > *) {
    grid-column: 4;
  }
}
.page {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.logo2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #0caa4b;
  min-width: 0;
  padding: 8px;
}
.img__xD3I {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  max-height: 200px;
  display: inline-block !important;
}
.img__xD3I > picture > img {
  object-fit: contain;
}
.img__xD3I > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.underConstruction {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  margin: 20px;
}
.underConstruction > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.underConstruction > :global(.__wab_flex-container) > *,
.underConstruction > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.underConstruction > :global(.__wab_flex-container) > picture > img,
.underConstruction
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h1__scrb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-top: calc(24px + 20px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .h1__scrb {
    font-size: 40px;
    margin-top: calc(24px + 20px) !important;
  }
}
.text__c5TTd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .text__c5TTd {
    font-size: 10px;
  }
}
.launchingIn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 800px;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
  margin: 40px;
}
.launchingIn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.launchingIn > :global(.__wab_flex-container) > *,
.launchingIn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.launchingIn > :global(.__wab_flex-container) > picture > img,
.launchingIn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .launchingIn {
    margin-bottom: 0px;
  }
}
.h1__bscI4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 40px;
  padding-bottom: 25px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .h1__bscI4 {
    font-size: 30px;
  }
}
.img__kHvdf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 167px;
  flex-shrink: 0;
}
.img__kHvdf > picture > img {
  object-fit: cover;
}
.img__kHvdf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 414px) {
  .img__kHvdf {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .img__kHvdf > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .img__kHvdf > :global(.__wab_img-spacer) > img {
    object-fit: cover;
  }
}
.ourStory {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 600px;
  min-width: 0;
  padding: 8px;
  margin: 30px 30px 60px;
}
.ourStory > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.ourStory > :global(.__wab_flex-container) > *,
.ourStory > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ourStory > :global(.__wab_flex-container) > picture > img,
.ourStory
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.h1__wFkE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__hmqT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  min-width: 0;
}
.connect {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 8px;
}
.connect > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.connect > :global(.__wab_flex-container) > *,
.connect > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.connect > :global(.__wab_flex-container) > picture > img,
.connect
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .connect {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .connect > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .connect > :global(.__wab_flex-container) > *,
  .connect > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .connect > :global(.__wab_flex-container) > picture > img,
  .connect
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__tncw5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__tncw5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__tncw5 > :global(.__wab_flex-container) > *,
.freeBox__tncw5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tncw5 > :global(.__wab_flex-container) > picture > img,
.freeBox__tncw5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h1__jIaFp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 35px;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .h1__jIaFp {
    font-size: 25px;
  }
}
.text___2Xdgn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .text___2Xdgn {
    font-size: 10px;
  }
}
.button2__sjjFo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(20px + 20px) !important;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.svg__rhzRm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ia0Nm {
  color: #ededec;
}
.svg__eVFo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__emmtG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__emmtG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__emmtG > :global(.__wab_flex-container) > *,
.freeBox__emmtG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__emmtG > :global(.__wab_flex-container) > picture > img,
.freeBox__emmtG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h1__blRnd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 35px;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .h1__blRnd {
    font-size: 25px;
  }
}
.text__vDiAe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .text__vDiAe {
    font-size: 10px;
  }
}
.button2___45HXs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(20px + 20px) !important;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  left: auto;
  top: auto;
  z-index: 1;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg__er3Xm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ygNaP {
  color: #ededec;
}
.svg___5JhP9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
