.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.columns__aZmUz {
  --plsmc-rc-col-gap: 0px;
}
.columns__aZmUz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__aZmUz > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__aZmUz > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.column__vN3Dl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__bY4Nr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.h1__fg0Cu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  text-align: center;
  min-width: 0;
  display: none;
}
.img___54F1P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___54F1P > picture > img {
  object-fit: cover;
}
.img___54F1P > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__kquaw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__o5BD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__o5BD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__o5BD > :global(.__wab_flex-container) > *,
.freeBox__o5BD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o5BD > :global(.__wab_flex-container) > picture > img,
.freeBox__o5BD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.freeBox___2UWpG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___2UWpG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox___2UWpG > :global(.__wab_flex-container) > *,
.freeBox___2UWpG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2UWpG > :global(.__wab_flex-container) > picture > img,
.freeBox___2UWpG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.h1__ddE5U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__fN1SC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__iplHb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__iplHb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__iplHb > :global(.__wab_flex-container) > *,
.freeBox__iplHb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iplHb > :global(.__wab_flex-container) > picture > img,
.freeBox__iplHb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.button2__sQQhc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__hwrvQ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__eKgt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2___08GHv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__rkJp5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__pSdgu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
